@charset "utf-8";
/* CSS Document */


body {
	background-color: lightgray;
	border-radius: 25px;
	}

h1 {
	border: 5px solid black;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	}

h2 {
	border:thick solid #DF1E21;	
	text-align:center;
	}

.centeredImage {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
	