@charset "utf-8";
/* CSS Document */

body{
	background-color:#e0fbfc;
	}

hr{
	width:1em;
	}

#header{
	background-color:#253237;
	color:#e0fbfc;
	text-align:center;
	padding:0.5em;
	margin:0.3em;	
	}

#sidebar{
	line-height: 30px;
	background-color: #5c6b73;
	padding:0.6em;
	margin:0.5em;
	text-align:left;
	}

#banner{
	text-align:center;
	background-color: darkgray;
	margin:0.4em;
	}

#section {
	width:350px; 
	float:left;
	padding:1em;
	text-align:left;
}

#footer {
    background-color:#253237;
    color:#e0fbfc;
    clear:both;
    text-align:center;
    padding:0.5em;
	margin:0.3em; 
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color:black;
    background-color: #c2dfe3;
    text-align: center;
    padding: 0.3em;
    text-decoration: none;
}

a:hover, a:active {
    background-color: #89C2C9;
}
