@charset "utf-8";
/* CSS Document */

body{
	background-color:lightgray;
	}


#header{
	background-color:black;
	color:white;
	text-align:center;
	padding:0.5em;
	margin:0.5em;	
	}

#sidebar{
	line-height: 30px;
	background-color: darkgray;
	float: left;
	padding: 0.6em;
	margin:0.5em;
	}

#banner{
	text-align:center;
	background-color: darkgray;
	margin:0.4em;
	
	}

#section {
	width:350px; 
	float:left;
	padding:1em;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:0.5em;
	margin:1em; 
}
